@charset "UTF-8";

/* @font-face {
    font-family: "Open Sans";
    src: url("OpenSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility;
  } */

  @font-face {
    font-family: "Open Sans";
    src: url("OpenSans-Light.ttf");
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility;
  }

  
  @font-face {
      font-family: "Open Sans-B";
      src: url("OpenSans-Bold.ttf");
      text-rendering: optimizeLegibility;
    }

  @font-face {
    font-family: "Open Sans-L";
    src: url("OpenSans-Light.ttf");
    text-rendering: optimizeLegibility;
  }
  @font-face {
    font-family: "Open Sans-LI";
    src: url("OpenSans-LightItalic.ttf");
    text-rendering: optimizeLegibility;
  }
  @font-face {
    font-family: "Open Sans-BI";
    src: url("OpenSans-BoldItalic.ttf");
    text-rendering: optimizeLegibility;
  }
  @font-face {
    font-family: "Open Sans-I";
    src: url("OpenSans-Italic.ttf");
    text-rendering: optimizeLegibility;
  }
  @font-face {
    font-family: "Open Sans-SB";
    src: url("OpenSans-SemiBold.ttf");
    text-rendering: optimizeLegibility;
  }
  @font-face {
    font-family: "Open Sans-SBI";
    src: url("OpenSans-SemiBoldItalic.ttf");
    text-rendering: optimizeLegibility;
  }
  