@charset "UTF-8";

@font-face {
  font-family: "SF-Pro-Black";
  src: url("SF-Pro-Display-Black.ttf") format("truetype"),
       url("SF-Pro-Display-Black.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: "SF-Pro-Bold";
    src: url("SF-Pro-Display-Bold.ttf") format("truetype"),
         url("SF-Pro-Display-Bold.eot") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: "SF-Pro-Heavy";
    src: url("SF-Pro-Display-Heavy.ttf") format("truetype"),
         url("SF-Pro-Display-Heavy.eot") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: "SF-Pro-Light";
    src: url("SF-Pro-Display-Light.ttf") format("truetype"),
         url("SF-Pro-Display-Light.eot") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: "SF-Pro-Medium";
    src: url("SF-Pro-Display-Medium.ttf") format("truetype"),
         url("SF-Pro-Display-Medium.eot") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: "SF-Pro-Regular";
    src: url("SF-Pro-Display-Regular.ttf") format("truetype"),
         url("SF-Pro-Display-Regular.eot") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: "SF-Pro-Semibold";
    src: url("SF-Pro-Display-Semibold.ttf") format("truetype"),
         url("SF-Pro-Display-Semibold.eot") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: "SF-Pro-Thin";
    src: url("SF-Pro-Display-Thin.ttf") format("truetype"),
         url("SF-Pro-Display-Thin.eot") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: "SF-Pro-Ultralight";
    src: url("SF-Pro-Display-Ultralight.ttf") format("truetype"),
         url("SF-Pro-Display-Ultralight.eot") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
  }