@charset "UTF-8";

@font-face {
    font-family: "Ubuntu-Bold";
    src: url("Ubuntu-B.ttf");
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility;
  }

  @font-face {
    font-family: "Ubuntu-BI";
    src: url("Ubuntu-BI.ttf");
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility;
  }

  @font-face {
    font-family: "Ubuntu-M";
    src: url("Ubuntu-M.ttf");
    text-rendering: optimizeLegibility;
  }
  
  @font-face {
      font-family: "Ubuntu";
      src: url("Ubuntu-R.ttf");
      font-weight: normal;
      font-style: normal;
      text-rendering: optimizeLegibility;
    }

    @font-face {
      font-family: "Ubuntu-Light";
      src: url("Ubuntu-L.ttf");
      font-weight: normal;
      font-style: normal;
      text-rendering: optimizeLegibility;
    }
  