#case-1{
    margin-bottom: 170px;
}

.c1-banner {
    width: 100%;
    height: 450px;
    background: aliceblue url("../assets/c1_header.png") no-repeat;
    background-size: auto 100%;
    background-position: 50%;
    z-index: 1;
}

.back-btn {
    position: fixed;
    padding-top: 30px;
    padding-left: 100px;
}

.back-btn:active,
.back-btn:focus,
.back-btn button:active,
.back-btn button:focus
 {
    outline: none;
}

.back-btn button {
    width: 32px;
    height: 32px;
    background: #fff url("../assets/icon-back.png") no-repeat;
    background-size: 8px 16px;
    background-position: 50% 50%;
    border-style: none;
    border-radius: 50%;
    box-shadow: 0px 2px 6px rgba(124, 124, 124, 0.5);
}

.c-info {
    display: flex;
    flex-direction: column;
}

.c-info-left,
.c-info-right {
    flex: 1;
}

.ci1l-1,
.ci1r-1 {
    display: flex;
    flex-wrap: wrap;
}

.ci1l-1 label {
    margin: 8px 24px 8px 0px;
    font-size: 18px;
    color: #000000;
    letter-spacing: 0.92px;
    line-height: 36px;
}

.ci1r-1 label {
    margin: 8px 24px 8px 0px;
    font-size: 18px;
    color: #000000;
    letter-spacing: 0.92px;
    line-height: 36px;
}

.ci-2 {
    margin-top: 64px;
    display: flex;
}

.ci2l-1 {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.ci2l-1 label {
    margin: 10px 0px;
    font-size: 18px;
    color: #000000;
    letter-spacing: 0.92px;
    /* line-height: 36px; */
}
.ci-2-m label {
    background: #fff url("../assets/myrole_line.png") no-repeat;
    background-size: 1px 157px;
    width: 1px;
    height: 157px;
    display: inline-block;
    margin-top: 30px;
}

@media screen and (max-width: 1100px) {
    .ci-2-l {
        margin-right: 20px;
        flex-basis: 140px;
        flex-shrink: 0;
    }
    .ci-2-m label {
        margin-right: 20px;
    }
}
@media screen and (min-width: 1100px) and (max-width: 1380px)
{
    .ci-2-l {
        margin-right: 40px;
        flex-basis: 140px;
        flex-shrink: 0;
    }
    .ci-2-m label {
        margin-right: 40px;
    }
}
@media screen and (min-width: 1380px) and (max-width: 1600px)
{
    .ci-2-l {
        margin-right: 80px;
        flex-basis: 140px;
        flex-shrink: 0;
    }
    .ci-2-m label {
        margin-right: 80px;
    }
}
@media screen and (min-width: 1600px)
{
    .ci-2-l {
        margin-right: 100px;
        flex-basis: 140px;
        flex-shrink: 0;
    }
    .ci-2-m label {
        margin-right: 100px;
    }
}


.ci-2-r {
    display: flex;
}

.ci2r-1,
.ci2r-2 {
    flex: 1;
    margin: 0px 16px;
}
.ci-2-r p{
    font-size: 18px;
    color: #000000;
    letter-spacing: 1.06px;
}

.c-info-list {
    display: flex;
    flex-direction: column;
}

.cil-tool {
    margin-top: 40px;
}

.c1-content {
    /* width: 58%; */
    display: flex;
    align-items: center;
    flex-direction: column;
}

.c1-content-div {
    margin-top: 100px;
}

.il-title {
    font-family: 'SF-Pro-Bold';
    font-size: 28px;
    color: #A3CCF0;
    letter-spacing: 0.88px;
}

.ci-1 {
    display: flex;
}

.ci-1-l,
.ci-1-r {
    flex: 1;
}

.c-info-list label {
    font-size: 16px;
    color: #000000;
    letter-spacing: 1.06px;
    margin: 4px 0px;
}

.c-info-list p {
    font-size: 16px;
    color: #9b9b9b;
    letter-spacing: 1.06px;
    line-height: 20px;
    margin: 4px 0px 0px 8px;
}

.c-info-list p span {
    color: #4A90E2;
    font-weight: 600;
}

.c-secret {
    margin-top: 50px;
}

.cs-p{
    font-family: Charter-Italic;
    font-size: 14px;
    color: #979797;
    letter-spacing: 0.44px;
}

.c-quote .cq-content {
    font-family: Charter;
    font-size: 22px;
    color: #4A90E2;
    letter-spacing: 0.88px;
}

.c-quote .cq-by {
    font-size: 16px;
    color: #979797;
    letter-spacing: 0.62px;
}

.c-quote {
    border-left: 8px rgba(142,189,231,0.50) solid;
    padding-left: 16px;
}

.co-1 {
    display: flex;
}

.co-1-1,
.co-1-2 {
    flex: 1;
    border-style: none;
}

.co-1-2 {
    margin: 0px 0px 0px 16px;
}

.co-1-1 {
    display: flex;
    justify-content: center;
}

.co-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* img stock */
.co11-img{
    background: transparent url("../assets/1.png") no-repeat;
    background-size: 350px 205px;
    background-position: center;
    width: 350px;
    height: 205px;
    box-shadow: 0px 2px 6px rgba(124, 124, 124, 0.5);
    border-style:  none;
    display: inline-block;
}

.co21-img {
    background: transparent url("../assets/2.png") no-repeat;
    background-size: 800px 132px;
    background-position: center;
    width: 800px;
    height: 132px;
    border-style:  none;
    display: inline-block;
}

.co3-img {
    background: transparent url("../assets/3.png") no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 100%;
    height: 320px;
    border-style:  none;
    display: inline-block;
    z-index: 1;
}

.cot3-img {
    background: transparent url("../assets/4.png") no-repeat;
    background-size: 100% auto;
    background-position: center;
    height: 203px;
    border-style:  none;
    display: inline-block;
    z-index: 1;
}

@media screen and (max-width: 1300px) {
    .cot3-img {
        width: 90%;
    }
}
@media screen and (min-width: 1300px){
    .cot3-img {
        width: 80%;
    }
}

.ck1-img {
    background: transparent url("../assets/5.png") no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 80%;
    height: 178px;
    border-style:  none;
    display: inline-block;
}

.cd1-img {
    background: transparent url("../assets/6.png") no-repeat;
    background-size: 45% auto;
    background-position: center;
    height: 300px;
    border-style:  none;
    display: inline-block;
}

@media screen and (max-width: 1300px) {
   .cd1-img {
       width: 90%;
   }
}
@media screen and (min-width: 1300px){
    .cd1-img {
        width: 80%;
    }
}

.cd2-img {
    background: transparent url("../assets/7.png") no-repeat;
    background-size: 50% auto;
    background-position: center;
    height: 300px;
    border-style:  none;
    display: inline-block;
}

@media screen and (max-width: 1300px) {
    .cd2-img {
        width: 90%;
    }
 }
 @media screen and (min-width: 1300px){
     .cd2-img {
         width: 80%;
     }
 }

.cd3-img {
    background: transparent url("../assets/9.png") no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 431px;
    height: 250px;
    border-style:  none;
    display: inline-block;
}

.cd4-img {
    background: transparent url("../assets/8.png") no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 324px;
    height: 550px;
    border-style:  none;
    display: inline-block;
}

.cd5-img {
    background: transparent url("../assets/10.png") no-repeat;
    background-size: 100% auto;
    background-position: center;
    height: 232px;
    border-style:  none;
    display: inline-block;
}

@media screen and (max-width: 1300px) {
    .cd5-img {
        width: 90%;
    }
 }
 @media screen and (min-width: 1300px){
     .cd5-img {
         width: 80%;
     }
 }

.cd6-img {
    background: transparent url("../assets/11.png") no-repeat;
    /* background-size: 70% auto; */
    background-position: center;
    width: 100%;
    height: 430px;
    border-style:  none;
    display: inline-block;
}

@media screen and (max-width: 1300px) {
    .cd6-img {
        background-size: 85% auto;
    }
 }
 @media screen and (min-width: 1300px){
     .cd6-img {
        background-size: 75% auto;
     }
 }

.cd7-img {
    background: transparent url("../assets/12.png") no-repeat;
    background-size: 78% auto;
    background-position: center;
    width: 966px;
    height: 265px;
    border-style:  none;
    display: inline-block;
}

.cde1-img {
    background: transparent url("../assets/13.png") no-repeat;
    background-size: 80% auto;
    background-position: center;
    width: 885px;
    height: 500px;
    border-style:  none;
    display: inline-block;
}

.deev1-img {
    background: transparent url("../assets/14.png") no-repeat;
    background-size: 80% auto;
    background-position: center;
    width: 100%;
    height: 274px;
    border-style:  none;
    display: inline-block;
}

.deev2-img {
    background: transparent url("../assets/15.png") no-repeat;
    /* background-size: 80% auto; */
    background-position: center;
    width: 100%;
    height: 393px;
    border-style:  none;
    display: inline-block;
}


@media screen and (max-width: 1300px) {
    .deev2-img {
        background-size: 90% auto;
    }
 }
 @media screen and (min-width: 1300px){
     .deev2-img {
        background-size: 80% auto;
     }
 }

.deev3-img {
    background: transparent url("../assets/16.png") no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 100%;
    height: 275px;
    border-style:  none;
    display: inline-block;
}

.deev4-img {
    background: transparent url("../assets/34.png") no-repeat;
    background-size: 50% auto;
    background-position: center;
    width: 28px;
    height: 28px;
    border-style:  none;
    display: inline-block;
}

.deev5-img {
    background: transparent url("../assets/17.png") no-repeat;
    background-size: 80% auto;
    background-position: center;
    width: 100%;
    height: 357px;
    border-style:  none;
    display: inline-block;
}

.deev6-img {
    background: transparent url("../assets/18.png") no-repeat;
    /* background-size: 50% auto; */
    background-position: center;
    width: 100%;
    height: 218px;
    border-style:  none;
    display: inline-block;
}

@media screen and (max-width: 1300px) {
    .deev6-img {
        background-size: 65% auto;
    }
 }
 @media screen and (min-width: 1300px){
     .deev6-img {
        background-size: 55% auto;
     }
 }

.deev7-img {
    background: transparent url("../assets/19.png") no-repeat;
    /* background-size: 70% auto; */
    background-position: center;
    width: 100%;
    height: 382px;
    border-style:  none;
    display: inline-block;
}

@media screen and (max-width: 1300px) {
    .deev7-img {
        background-size: 80% auto;
    }
 }
 @media screen and (min-width: 1300px){
     .deev7-img {
        background-size: 70% auto;
     }
 }

.deev8-img {
    background: transparent url("../assets/20.png") no-repeat;
    background-size: 80% auto;
    background-position: center;
    width: 100%;
    height: 500px;
    border-style:  none;
    display: inline-block;
}
.deev9-img {
    background: transparent url("../assets/21.png") no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 100%;
    height: 650px;
    border-style:  none;
    display: inline-block;
}
.deev10-img {
    background: transparent url("../assets/22.png") no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 100%;
    height: 468px;
    border-style:  none;
    display: inline-block;
}
.deev11-img {
    background: transparent url("../assets/23.png") no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 100%;
    height: 626px;
    border-style:  none;
    display: inline-block;
    z-index: 1;
}
.cr1-img {
    background: transparent url("../assets/24.png") no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 100%;
    height: 434px;
    border-style:  none;
    display: inline-block;
}

.cr2-img {
    background: transparent url("../assets/26.png") no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 350px;
    height: 219px;
    border-style:  none;
    display: inline-block;
    margin: 0px 24px;
}
.cr3-img {
    background: transparent url("../assets/27.png") no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 350px;
    height: 219px;
    border-style:  none;
    display: inline-block;
    margin: 0px 24px;
}
.cr4-img {
    background: transparent url("../assets/28.png") no-repeat;
    background-size: 70% auto;
    background-position: center;
    width: 100%;
    height: 513px;
    border-style:  none;
    display: inline-block;
}
.cr5-img {
    background: transparent url("../assets/30.png") no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 100%;
    height: 189px;
    border-style:  none;
    display: inline-block;
}
.cl1-img {
    background: #f2f2f2;
    height: 434px;
    width: 100%;
    display: inline-block;
}
.cl2-img {
    background: transparent url("../assets/31.png") no-repeat;
    background-size: 80% auto;
    background-position: center;
    width: 1285px;
    height: 250px;
    border-style:  none;
    display: inline-block;
}

.cl3-img {
    background: transparent url("../assets/32.png") no-repeat;
    background-size: 90% auto;
    background-position: center;
    width: 415px;
    height: 248px;
    border-style:  none;
    display: inline-block;
}

.cl4-img {
    background: transparent url("../assets/33.png") no-repeat;
    background-size: 90% auto;
    background-position: center;
    width: 415px;
    height: 248px;
    border-style:  none;
    display: inline-block;
}

.cl5-img {
    background: transparent url("../assets/35.png") no-repeat;
    /* background-size: 55% auto; */
    background-position: center;
    width: 100%;
    height: 250px;
    border-style:  none;
    display: inline-block;
}

@media screen and (max-width: 1300px) {
    .cl5-img {
        background-size: 70% auto;
    }
 }
 @media screen and (min-width: 1300px){
     .cl5-img {
        background-size: 55% auto;
     }
 }

.co-2-2 {
    margin-top: 24px;
}

.cot-2-1 {
    display: flex;
    justify-content: center;
}

.ck-1-1,
.ck-1-2 {
    display: flex;
    justify-content: center;
}

.cd-1-1
{
    display: flex;
    justify-content: center;
}

.cd-1-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cd2-t-1,
.cd3-t-1,
.cd4-t-1{
    position: relative;
}

.cd2-t-1 h5 {
    display: inline;
}
.cd2-t-1 label,
.cd3-t-1 label,
.cd4-t-1 label{
    font-family: 'SF-Pro-Semibold';
    font-size: 88px;
    color: #DDDDDD;
    position: absolute;
    bottom: -12px;
    left: -26px;
    z-index: -1;
}

.cd2-2 {
    display: flex;
}

.cd2-2-1,
.cd2-2-2 {
    flex: 1;
}

.cd2-2-1 {
    /* padding-right: 32px; */
}

.cd221-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cd-3-1 {
    display: flex;
}

.cd31-l,
.cd31-r {
    flex: 1;
}

.cd31-l {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cd31-r p{
    padding-right: 50px;
}

.cd-3-2 {
    display: flex;
    justify-content: center;
}

.cd-4-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.deev-1-1 {
    display: flex;
}

.deev11-1, 
.deev11-2 {
    flex:1;
}

.deev11-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.oc1 {
    height: 350px;
}

.deev21l-1 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 30px;
}
.deev21-l {
    display: flex;
    flex-direction: column;
}

.deev-2-1 {
    display: flex;
}

.deev21-l,
.deev21-r {
    flex: 1;
}

.deev21-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.deev3-1 {
    position: relative;
}

.deev3-1 p {
    position: absolute;
    width: 464px;
    top: 10px;
}

.deev4-1 {
    position: relative;
    height: 670px;
    width: 100%;
}

.deev4-1 p {
    position: absolute;
    width: 418px;
    right: 281px;
    bottom: 87px;
}

.deev4-2 {
    height: 468px;
    width: 100%;
}

.deev4-3 {
    height: 626px;
    width: 100%;
    z-index: 1;
}

.cr1-1 {
    height: 434px;
    width: 100%;
}

.cr1-2 {
    height: 282px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.cr1-2 p {
    width: 446px;
    margin-top: 150px;
}

.cr1-3 {
    position: relative;
    width: 100%;
    height: 513px;
}

.cr1-3 p {
    position: absolute;
    width: 450px;
    bottom: 40px;
    left: 21%;
}

.cr1-4 {
    height: 189px;
    width: 100%;
    margin-bottom: 50px;
    z-index: 1;
}

.cl-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    width: 100%;
}

.cl-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cl2-1 {
    display: flex;

}

.cl-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.c-kick-outter,
.c-deev-outter,
.deev-3-outter
 {
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    width: 100%;
}

.c-grey-bg {
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.deev-3-outter {
    width: 100%;
}
.c-kick,
.c-deev {
    margin-bottom: 30px;
}

.anch-item span{
    width: 11px;
    height: 11px;
    background-color: #A3CCF0;
    border-radius: 50%;
    display: inline-block;
    margin: 8px 16px 0px 0px;
}

.anch-item span:hover {
    width: 13px;
    height: 13px;
    background-color: #4A90E2;
}

.anch-item label {
    color: #4a90e2;
    letter-spacing: 1.5px;
    font-size: 13px;

    /* color: #9b9b9b;
    letter-spacing: 1.5px; */
    font-family: 'SF-Pro-Light';
    /* font-size: 12px; */
}

/* .anch-item label:hover {
    color: #4a90e2;
    letter-spacing: 1.5px;
    font-size: 13px;
} */

.cdec-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cl-video {
    display: flex;
    justify-content: center;
}