.title-170 {
    margin-top: 170px;
}

.title-150 {
    margin-top: 150px;
}

.title-110 {
    margin-top: 110px;
}
.title-90 {
    margin-top: 90px;
}

.title-70 {
    margin-top: 70px;
}

.title-50 {
    margin-top: 50px;
}
.title-30 {
    margin-top: 30px;
}
.p-text {
    font-size: 16px;
    color: #000000;
    letter-spacing: 1.56px;
    line-height: 24px;
}
.p-bold {
    font-family: 'SF-Pro-Bold';
}

.p-text span {
    
    font-weight: 600;
}

h1 {
    letter-spacing: 2px;
    font-size: 36px;
    color: #4A4A4A;
    margin-bottom: 18px;
    font-family: 'SF-Pro-Bold';
}

h2 {
    font-size: 24px;
    letter-spacing: 1.12px;
    font-family: 'SF-Pro-Light';
    margin: 0px 0px;
}

h3 {
    font-family: 'SF-Pro-Ultralight';
    font-size: 46px;
    color: #9B9B9B;
    letter-spacing: 1.62px;
}

h4 {
    font-size: 26px;
    color: #4A4A4A;
    letter-spacing: 1px;
    font-family: 'SF-Pro-Bold';
}
h5 {
    font-family: 'SF-Pro-Bold';
    font-size: 36px;
    color: #4A4A4A;
    letter-spacing: 1.5px;
}
.c-slim-58 {
    width: 58%;
}
.c-slim-68 {
    width: 60%;
}
.c-slim-80{
    width: 80%;
}
.c-slim-60{
    width: 60%;
}
.bottom-50{
    margin-bottom: 50px;
}
.bottom-70{
    margin-bottom: 70px;
}
.bottom-90{
    margin-bottom: 90px;
}
.bottom-110{
    margin-bottom: 110px;
}
div[dflex]{
    display: flex;
}
div[flex1]{
    flex: 1;
}
div[flex2]{
    flex: 2;
}
div[flex3]{
    flex: 3;
}
div[flex4]{
    flex: 4;
}
div[flex5]{
    flex: 5;
}
img[dblock]{
    display: block;
}
div[h100]{
    height: 100%;
}
div[dinline]{
    display: inline;
}
div[dinline-block]{
    display: inline-block;
}
div[fshrink0]{
    flex-shrink: 0;
}

.label-goal {
    font-size: 28px;
    color: #003B7F;
    letter-spacing: 1.12px;
    text-align: center;
    padding: 14px;
    border-top: 2px solid #003b7f;
    border-bottom: 2px solid #003b7f;
    font-family: 'SF-Pro-Semibold';
}

.over-center {
    display: flex;
    justify-content: center;
    width: 100%;
}

.over-center label{
    display: inline-block;
}

.anchor-index {
    position: fixed;
    top: 40%;
    z-index:0;
}

@media screen and (max-width: 1100px) {
    .anchor-index {
        left: 16px;
    }
}
@media screen and (min-width: 1100px) and (max-width: 1380px)
{
    .anchor-index {
        left: 42px;
    }
}
@media screen and (min-width: 1380px)
{
    .anchor-index {
        left: 80px;
    }
}