.title-170 {
    margin-top: 170px;
}

.title-150 {
    margin-top: 150px;
}

.title-110 {
    margin-top: 110px;
}
.title-90 {
    margin-top: 90px;
}

.title-70 {
    margin-top: 70px;
}

.title-50 {
    margin-top: 50px;
}
.title-30 {
    margin-top: 30px;
}
.p-text {
    font-size: 16px;
    color: #000000;
    letter-spacing: 1.56px;
    line-height: 24px;
}
.p-bold {
    font-family: 'SF-Pro-Bold';
}

.p-text span {
    color: #4A90E2;
    font-weight: 600;
}

h1 {
    letter-spacing: 2px;
    font-size: 36px;
    color: #4A4A4A;
    margin-bottom: 18px;
    font-family: 'SF-Pro-Bold';
}

h2 {
    font-size: 24px;
    color: #4A90E2;
    letter-spacing: 1.12px;
    font-family: 'SF-Pro-Light';
    margin: 0px 0px;
}

h3 {
    font-family: 'SF-Pro-Ultralight';
    font-size: 46px;
    color: #9B9B9B;
    letter-spacing: 1.62px;
}

h4 {
    font-size: 26px;
    color: #4A4A4A;
    letter-spacing: 1px;
    font-family: 'SF-Pro-Bold';
}
h5 {
    font-family: 'SF-Pro-Bold';
    font-size: 36px;
    color: #4A4A4A;
    letter-spacing: 1.5px;
}
.c-slim-58 {
    width: 58%;
}
.label-goal {
    font-size: 28px;
    color: #003B7F;
    letter-spacing: 1.12px;
    text-align: center;
    padding: 14px;
    border-top: 2px solid #003b7f;
    border-bottom: 2px solid #003b7f;
    font-family: 'SF-Pro-Semibold';
}

.over-center {
    display: flex;
    justify-content: center;
    width: 100%;
}

.over-center label{
    display: inline-block;
}

.anchor-index {
    position: fixed;
    top: 40%;
    left: 80px;
    z-index:0;
}